div.author-list {
    color:           grey;
    font-size:       0.9em;
    text-decoration: none;
}

div.author-list a:link,a:visited {
    text-decoration: None;
    color: inherit;
}


div.author-list a:hover {
    text-decoration: None;
    color:           #A6A6A6;
}

.report-title {
    font-weight: bold;
}

div.site_container tr:hover{
#    background-color: #EAEFF6;
}

