
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.pyc
*.sqlite
[Mm]igrations/

find_artek.sublime-workspace
*.sublime-workspace
find_artek.sublime-workspace
logs/find_artek.log.1
logs/find_artek.log.5
find_artek.sublime-workspace
