# ignore __pycache__
__pycache__/

# ignore .sqlite

*.bak

# ignore thins in a folder called 'old'
old/

# ignore things in a folder called 'temp'
temp/

# ignore things in a folder called 'migrations'
migrations/

secret/

staticfiles/

publications/active_directory_authetication_test.py

# ignore files in __pycache__ folders
**/__pycache__/*