app-main/venv/
temp/
__pycache__

*.pyc

*.old


# ignore .env files
**/.env


*.bak

*.zip

*.gz

*.json


shared-project-data

app-classic
# app-datatransfer
app-datatransfer/datatransfer/venv
app-datatransfer/datatransfer/publications/migrations
*.sqlite

.migrate

debug.log