{% load i18n static %}

<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'publications/css/base.css' %}" />
    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}

</head>

<body>

    <!-- NAMESPACING HEADER (the top menu) -->
    <!-- ALL HEADER CSS IS IN BASE.CSS, and is namespaced with #header -->
    
    <header id="header">
        <div class="header-content">
            <nav>
                <a href="/pubs/publist/">{% trans "All reports" %}</a>

            </nav>
    
        </div>
    </header>

    <main id="main">
        <div class='site-container'>
            <div class='headline'>
                <h2>
                    {% block headline %}{% endblock %}
                </h2>
            </div>
            <br>
            <br>
            {% block body %}
            {% endblock %}
        </div>
    </main>


    <br>
    <br>
    <br>
    <br>
    </body>
    </html>