
    {% load i18n static %}

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <!-- static head content starts here -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="{% static 'publications/css/base.css' %}" />
        <title>{% block title %}Base Title{% endblock %}</title>
        <!-- static head content ends here -->

        <!-- dynamic head content starts here -->
        {% block head %}{% endblock %}
        <!-- dynamic head content ends here -->
    </head>

    <body>
        
        <header id="header">
            <div class="header-content">
                <nav>
                    <a href="/publications/frontpage/">{% trans "Frontpage" %}</a>
                    |
                    <a href="/publications/map/">{% trans "Map" %}</a>
                    |
                    <a href="/publications/reports/">{% trans "All reports" %}</a>

                </nav>
            </div>
        </header>

        <main id="main">
            <div class="main-content">
                <div class='headline'>
                    <h2>{% block headline %}{% endblock %}</h2>
                </div>
                <br>
                <br>
                <!-- dynamic main-content starts here -->
                {% block main-content %}{% endblock %}
                <!-- dynamic main-content ends here -->
            </div>
        </main>

        <footer id="footer">
            <div class="footer-content">
                <!-- Add your footer content here -->
            </div>
        </footer>

        <br>
        <br>
        <br>
        <br>
    </body>

    </html>