{% extends base_template %}

<!-- i18n and static are Django template tags. They are used to load the i18n and static template tags. The i18n template tag is used to mark strings for translation. -->
<!-- The static is a template tag that is used to load the static template tag library. This library provides a way to reference static files, such as CSS, JavaScript, or image files, which are not tied to a particular instance of a model in your Django app. -->
{% load i18n static %}

{# title #}
{% block title %}Report{% endblock %}


{% block dynamic_head_content %}
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}/static/publications/css/feature.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
{% endblock %}

<!-- headline for the page -->
{% block headline %}Feature information{% endblock %}

{% block main-content %}

<div id="info-box">
    <div id="info-content">
        <table id="info-table" style="font-family: Verdana, Arial; font-size: 8pt;">
            <!-- Your table rows go here -->
        </table>
    </div>
    <div>
        <a href='/media/reports/2012/12-14.pdf'>
            <img alt="Picture of first page of pdf document" src="/media/reports/2012/thumbs/12-14_thumb.jpg" height="300" id="report-thumb">
        </a>
    </div>
</div>

<!-- The rest of your HTML goes here -->

{% endblock %}