{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Map" %}{% endblock %}
{% block head %}
{{ map.media }}
{% include "publications/snippets/jQuery_include.html" %}
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}publications/css/publist.css" />
{% endblock %}
{% block body %}

<div class='site_container'>
<h2>{%trans "Map" %}</h2>
</br>

<table>
<tr><td>

</td></tr>
</table>


{% comment %}
<div style="display: float">
    {{ map }}



(Press left mouse button on a feature to see details)
</div>
<div style="display:float">
<br/><br/>
{% include "publications/snippets/feature_type_legend.html" %}
</div>
{% endcomment %}

<br>
<br>
<table>
<tr><td style="width:100px">
<button id="update-report-list">{% trans "update list" %}</button>
</td><td>
{% blocktrans %}"Update list" will generate a list of reports that have geographic features
registered within the current view of the map on this page. Presently the list
is not filtered according to the chosen feature types. This will be changed
in a future update.{% endblocktrans %}
</td></tr>
</table>
<br><br>
<div id="report-list"></div>

<br><br>
</div>

{% endblock %}
