{% extends base_template %}

<!-- i18n and static are Django template tags. They are used to load the i18n and static template tags. The i18n template tag is used to mark strings for translation. -->
<!-- The static is a template tag that is used to load the static template tag library. This library provides a way to reference static files, such as CSS, JavaScript, or image files, which are not tied to a particular instance of a model in your Django app. -->
{% load i18n static %}

{# title #}
{% block title %}Report{% endblock %}


{% block dynamic_head_content %}
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}/static/publications/css/report.css" />
{% endblock %}


<!-- headline for the page -->
{% block headline %}Report{% endblock %}


{% block main-content %}

<div class="info-box">

    <div class="details-box">
        <div class="row">
            <span class="property">Title</span>
            <span class="value">{{publication.title}}</span>
        </div>
    
        <div class="row">
            <span class="property">Authors</span>
            <span class="value">
                {% for author in publication.authors.all %}

                    <a href="#">{{ author.first }} {{ author.last }}</a>

                    {% if forloop.counter == 1 and publication.authors.count == 2 %}

                        &amp;

                    {% elif not forloop.last %}

                        ,

                    {% endif %}

                {% endfor %}
            </span>
        </div>
    
        <div class="row">
            <span class="property">Year</span>
            <span class="value">{{publication.year}}</span>
        </div>
    
        <div class="row">
            <span class="property">Report no.</span>
            <span class="value">{{publication.number}}</span>
        </div>
    
        <div class="row">
            <span class="property">Topics</span>
            <span class="value">
                {% for topic in publication.publication_topics.all %}
                    {{ topic.topic }}
                    {% if forloop.counter == 1 and publication.publication_topics.count == 2 %}
                        &amp;
                    {% elif not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
                <!-- Infrastruktur, Geoteknik -->
            </span>
        </div>
    
        <div class="row">
            <span class="property">Keywords</span>
            <span class="value">
                {% for keyword in publication.publication_keywords.all %}
                    {{ keyword.keyword }}
                    {% if forloop.counter == 1 and publication.publication_keywords.count == 2 %}
                        &amp;
                    {% elif not forloop.last %}
                        ,
                    {% endif %}
            {% endfor %}
                <!-- Havn, Kangaamiut -->
            
            </span>
        </div>
    
        <div class="row">
            <span class="property">pdf-file</span>
            <span class="value pdf-file"><a href="{{MEDIA_URL}}reports/{{publication.year}}/{{publication.number}}.pdf" target="_blank">download report as pdf (21.0 Mb)</a></span>
        </div>
    
        <div class="row">
            <span class="property">Supervisors</span>
            <span class="value"><a>Ingeman-Nielsen, T.</a></span>
        </div>
    
        <div class="row">
            <span class="property">Abstract</span>
            <span class="visible" id="abstract-collapsed">{{publication.abstract | slice:":280"}}.... <p id="abstract-expand-btn" class="abstract-btn" >[Expand]</p></span>
            <span class="hidden" id="abstract-expanded">{{publication.abstract}} <p id="abstract-collapse-btn" class="abstract-btn" >[Collapse]</p></span>
        </div>
    </div>

    <div class="preview-box">
         <img src="{{MEDIA_URL}}reports/{{publication.year}}/thumbs/{{publication.number}}_thumb.jpg" alt="preview-picture">
    </div>



</div>

<div class="appendix-box">
    <h1>{% trans "Appendices:" %}</h1>
    
    {% for appendix in publication.appendices.all %}
        <a href="{{appendix.file.url}}" download="{{appendix.file.url}}">{{appendix.filename}}</a>
    {% endfor %}

</div>

<div class="map-box">
</div>

<script type="text/javascript" src="{{STATIC_URL}}/static/publications/js/report.js"></script>

{% endblock %}