{% extends "base.html" %}{% load i18n %}
{% block title %}{%trans 'Validate imported features' %}{% endblock %}
{% block head %}
{{ map.media }}
{% include "publications/snippets/jQuery_include.html" %}
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}publications/css/publist.css" />
{% endblock %}
{% block body %}

<div class='site_container'>
<h2>{%trans 'Validate imported features' %}</h2>
</br>

<table>
<tr><td>
{{ map }}
({% trans 'Press left mouse button on a feature to see details' %})


</td>
<td>
    {% include "publications/snippets/feature_type_legend.html" %}
</td></tr>
</table>

<br>
<br>
<table>
<tr><td>
{% blocktrans %}Please check the location of all imported features and press the validate button to keep the features in the database, or the cancel button to remove the features and try uploading again (after manually correcting errors in the file).{% endblocktrans %}
</td></tr>
<tr><td>
<form  action="/pubs/validate/features_from_file/" enctype="multipart/form-data" method="post" id="validate-features-from-file-form">{% csrf_token %}
<input type="hidden" name="features-pk" value="{% for f in features %}{{f.id}},{% endfor %}">
<input type="hidden" name="next_on_validate" value="{{next_on_validate}}">
<input type="hidden" name="next_on_cancel" value="{{next_on_cancel}}">
<button type="submit" id="submit" name="submit">{% trans "Validate imported features" %}</button>
<button type="submit" id="submit" name="cancel">{% trans "Delete imported features" %}</button>
</form>

</td></tr>
</table>
<br><br>

{% include "publications/snippets/feature_list.html" with feat_list=features %}
</div>

{% endblock %}
