<!-- i18n and static are Django template tags. They are used to load the i18n and static template tags. The i18n template tag is used to mark strings for translation. -->
<!-- The static is a template tag that is used to load the static template tag library. This library provides a way to reference static files, such as CSS, JavaScript, or image files, which are not tied to a particular instance of a model in your Django app. -->
{% load i18n static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- static head content starts here -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'publications/css/base.css' %}" />
    <link rel="icon" href="{% static 'publications/img/artek_logo_absract_transparent_resized_favicon.ico' %}"
        type="image/x-icon" />
    <script src="{% static 'publications/js/base.js' %}" defer></script>
    <title>{% block title %}Base Title{% endblock %}</title>
    <!-- static head content ends here -->

    <!-- dynamic head content starts here -->
    {% block dynamic_head_content %}{% endblock %}
    <!-- dynamic head content ends here -->
</head>

<body>






    <header class="flex-container flex-column justify-center">

        <!-- default header menu. Mobile is hidden, the code is beneath the default menu -->
        <div class="default-header-content flex-container justify-between">


            <!-- navigiation to the left -->
            <nav class="nav-left flex-container justify-around">


                <!-- abstact ice icon that leads to frontpage -->
                <a class="nav-link header-nav-frontpage-icon" href="{% url 'frontpage' %}">

                    <img class="frontpage-icon"
                        src="{% static 'publications/img/artek_logo_absract_transparent_resized.png' %}"
                        alt="ArtTek Logo">
                </a>

                <a class="nav-link header-nav-frontpage" href="{% url 'frontpage' %}">{% trans "Frontpage" %}</a>

                <a class="nav-link header-nav-map" href="{% url 'map' %}">{% trans "Map" %}</a>

                <a class="nav-link header-nav-reports" href="{% url 'reports' %}">{% trans "Reports" %}</a>

                <a class="nav-link header-nav-persons" href="{% url 'persons' %}">{% trans "Persons" %}</a>

                <a class="nav-link header-nav-api" href="{% url 'schema-swagger-ui' %}">{% trans "API" %}</a>

                

            </nav>
            <!-- navigiation to the left -->







            <!-- navigiation to the right -->
            <nav class="nav-right flex-container">



                <a class="sign-in nav-link flex-container justify-between" href="{% if user.is_authenticated %}{% url 'cas_ng_logout' %}{% else %}{% url 'cas_ng_login' %}{% endif %}">

                    <img class="sign-in-icon"
                        src="{% static 'publications/img/login_dtu_logo_screen_capture_transparent.png' %}"
                        alt="DTU Logo">

                    {% if user.is_authenticated %}
                    <span>{% trans "Sign out" %} ({{ user.username }})</span>
                    {% else %}
                    <span>{% trans "Sign in" %}</span>
                    {% endif %}
                </a>


            </nav>
            <!-- navigiation to the right -->
        </div>














        <!-- hidden menu for mobile -->
        <div class="mobile-header-content">




            <div class="outer-sign-in-link">
                <a class="sign-in nav-link flex-container justify-between" href="{% if user.is_authenticated %}{% url 'cas_ng_logout' %}{% else %}{% url 'cas_ng_login' %}{% endif %}">

                    <img class="sign-in-icon"
                        src="{% static 'publications/img/login_dtu_logo_screen_capture_transparent.png' %}"
                        alt="DTU Logo">

                    {% if user.is_authenticated %}
                    <span>{% trans "Sign out" %} ({{ user.username }})</span>
                    {% else %}
                    <span>{% trans "Sign in" %}</span>
                    {% endif %}
                </a>
            </div>

            <div class="outer-frontpage-logo">
                <!-- frontpage logo -->
                <a class="nav-link frontpage" href="{% url 'frontpage' %}">
                    <img class="frontpage-icon"
                        src="{% static 'publications/img/artek_logo_absract_transparent_resized.png' %}"
                        alt="ArtTek Logo">
                </a>
            </div>


            <!-- mobile menu -->
            <div class="mobile-menu" id="mobile-menu">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>


            <div class="mobile-menu-expanded" id="mobile-menu-expanded">
                <ul>
                    <li><a class="nav-link header-nav-map" href="{% url 'map' %}">{% trans "Map" %}</a></li>
                    <li><a class="nav-link header-nav-reports" href="{% url 'reports' %}">{% trans "Reports" %}</a></li>
                    <li><a class="nav-link header-nav-persons" href="{% url 'persons' %}">{% trans "Persons" %}</a></li>
                </ul>

            </div>



        </div>
        <!-- hidden menu for mobile -->

    </header>









































































































    <main id="main">
        <div class='headline'>
            <h1>{% block headline %}Base Headline{% endblock %}</h1>
        </div>
        <!-- dynamic main-content starts here -->
        {% block main-content %}{% endblock %}
        <!-- dynamic main-content ends here -->

    </main>






    <footer>
        <div class="footer-content">
            <div class="box-left">

            </div>
            <div class="box-right">
                <div class="browsers-msg">
                    <span>{% trans "Source code" %}</span>
                </div>
                <div class="github-img">
                    <img src="{% static 'publications/img/Octicons-mark-github.svg.png'  %}" alt="" class="src">
                    <!-- <img src="{% static 'publications/img/Firefox_Developer_Edition_logo.png'  %}"
                        alt="Firefox_Developer_Edition_logo" srcset=""> -->
                </div>
            </div>
        </div>
    </footer>








</body>

</html>