{% extends base_template %}

<!-- i18n and static are Django template tags. They are used to load the i18n and static template tags. The i18n template tag is used to mark strings for translation. -->
<!-- The static is a template tag that is used to load the static template tag library. This library provides a way to reference static files, such as CSS, JavaScript, or image files, which are not tied to a particular instance of a model in your Django app. -->
{% load i18n static %}

{# title #}
{% block title %}Front page{% endblock %}


{% block dynamic_head_content %}
<link rel="stylesheet" type="text/css" media="all" href="{{STATIC_URL}}/static/publications/css/frontpage.css" />
{% endblock %}


<!-- headline for the page -->
{% block headline %}find.artek{% endblock %}


{% block main-content %}

<p class="headline-description">{% trans "Access ARTEKs student reports. Please choose below: topic based access, geographical access, or search in title/abstract." %}</p>

<div class="grid-container">

    <div class="fmitem">
        <form id="Infrastruktur" action="/publications/reports/?topic=Infrastruktur" method="get">
            <input type="hidden" name="topic" value="Infrastruktur">
            <button type="submit" class="link-button">
                <div class="fmimage">
                    <img src="{{STATIC_URL}}/static/publications/img/infrastruktur_fly_190x150.jpg" alt="Infrastruktur">
                </div>
                <div class="fmtext">
                    <span class="topic">{% trans "Infrastructure" %}</span>
                    <span class='text'>{% trans "roads, harbours, airports" %} ...</span>
                </div>
            </button>
        </form>
    </div>
    <div class="fmitem">
        <form id="Byggeri" action="/publications/reports/?topic=Byggeri" method="get">
            <input type="hidden" name="topic" value="Byggeri">
            <button type="submit" class="link-button">
                <div class="fmimage">
                    <img src="{{STATIC_URL}}/static/publications/img/byggeri_190x150.jpg" alt="Byggeri">
                </div>
                <div class="fmtext">
                    <span class="topic">{% trans "Buildings" %}</span>
                    <span class='text'>{% trans "isolation, indoor climate, materials" %} ...</span>
                </div>
            </button>
        </form>
    </div>
    <div class="fmitem">
        <form id="Miljø" action="/publications/reports/?topic=Miljø" method="get">
            <input type="hidden" name="topic" value="Miljø">
            <button type="submit" class="link-button">
                <div class="fmimage">
                    <img src="{{STATIC_URL}}/static/publications/img/whale_190x150.jpg" 
                        alt="Miljø">
                </div>
                <div class="fmtext">
                    <span class="topic">{% trans "Environment" %}</span>
                    <span class='text'>{% trans "water quality, nature, pollution, waste" %} ...</span>
                </div>
            </button>
        </form>
    </div>

    <div class="fmitem">
        <form id="Energi" action="/publications/reports/?topic=Energi" method="get">
            <input type="hidden" name="topic" value="Energi">
            <button type="submit" class="link-button">
                <div class="fmimage">
                    <img src="{{STATIC_URL}}/static/publications/img/vindmølle_190x150.jpg" alt="Energi">
                </div>
                <div class="fmtext">
                    <span class="topic">{% trans "Energy" %}</span>
                    <span class='text'>{% trans "windmills, hydropower, solar power" %} ...</span>
                </div>
            </button>
        </form>
    </div>
    <div class="fmitem">
        <form id="Geoteknik" action="/publications/reports/?topic=Geoteknik" method="get">
            <input type="hidden" name="topic" value="Geoteknik">
            <button type="submit" class="link-button">
                <div class="fmimage">
                    <img src="{{STATIC_URL}}/static/publications/img/Geoteknik_190x150.jpg" alt="Geoteknik">
                </div>
                <div class="fmtext">
                    <span class="topic">{% trans "Geotechnics" %}</span>
                    <span class='text'>{% trans "engineering geology, geophysics, foundations, permafrost" %}
                        ...</span>
                </div>
            </button>
        </form>
    </div>
    <div class="fmitem">
        <form id="Råstoffer" action="/publications/reports/?topic=Råstoffer" method="get">
            <input type="hidden" name="topic" value="Råstoffer">
            <button type="submit" class="link-button">
                <div class="fmimage">
                    <img src="{{STATIC_URL}}/static/publications/img/Vandkraft_190x150.jpg" alt="Råstoffer">
                </div>
                <div class="fmtext">
                    <span class="topic">{% trans "Raw materials" %}</span>
                    <span class='text'>{% trans "resource geology, mapping, mining, oil" %} ...</span>
                </div>
            </button>
        </form>
    </div>


    <div class="fmitem">
        <form id="Samfund" action="/publications/reports/?topic=Samfund" method="get">
            <input type="hidden" name="topic" value="Samfund">
            <button type="submit" class="link-button">
                <div class="fmimage">
                    <img src="{{STATIC_URL}}/static/publications/img/Samfund_190x150.jpg" "
                        alt="Samfund">
                </div>
                <div class="fmtext">
                    <span class="topic">{% trans "Society" %}</span>
                    <span class='text'>{% trans "societal issues, planning, education" %} ...</span>
                </div>
            </button>
        </form>
    </div>

    <!-- all reports -->

    <div class="fmitem">
        <form id="all-reports" action="/publications/reports/?topic=All" method="get">
            <button type="submit" class="link-button">
                <div class="fmimage">
                    <img src="{{STATIC_URL}}/static/publications/img/reports_3_190x150.jpg" "
                        alt="all reports">
                </div>
                <div class="fmtext">
                    <span class="topic">{% trans "All reports" %}</span>
                    <span class='text'>{% trans "the complete list" %} ...</span>
                </div>
            </button>
        </form>
    </div>


    <!-- all greenland -->
    <!-- 70.44, -47.82, 3 -->

    <div class="fmitem">
        <form id="all-greenland" action="/publications/map/" method="get">
            <input type="hidden" name="lat" value="70.44">
            <input type="hidden" name="lon" value="-47.82">
            <input type="hidden" name="zoom" value="3">
            <button type="submit" class="link-button">
                <div class="fmimage">
                    <img src="{{STATIC_URL}}/static/publications/img/kort.jpg" "
                        alt="picture of greenland">
                </div>
                <div class="fmtext">
                    <span class="topic">{% trans "All Greenland" %}</span>
                    <span class='text'>{% trans "geographical access" %} ...</span>
                </div>
            </button>
        </form>
    </div>


</div>

<script src="{% static 'publications/js/frontpage.js' %}" defer></script>
{% endblock %}