{% extends base_template %}

<!-- i18n and static are Django template tags. They are used to load the i18n and static template tags. The i18n template tag is used to mark strings for translation. -->
<!-- The static is a template tag that is used to load the static template tag library. This library provides a way to reference static files, such as CSS, JavaScript, or image files, which are not tied to a particular instance of a model in your Django app. -->
{% load i18n static %}

{# title #}
{% block title %}Front page{% endblock %}

{% block dynamic_head_content %}

<link rel="stylesheet" type="text/css" media="all" href="{% static 'publications/css/map.css' %}" />

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

{% endblock %}

<!-- headline for the page -->
{% block headline %}Map{% endblock %}

{% block main-content %}

<div class="map-container">
    <div class="map" id="map"></div>
    
    <div id="loading-overlay">
        <div id="loading-icon"></div>
    </div>
</div>


<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="" defer></script>
<script src="{% static 'publications/js/map.js' %}" defer></script>
{% endblock %}