{% extends 'publications/person_workflow_base.html' %}

{% load i18n static %}

{% block person_title %}
    {% trans "Person" %}
{% endblock %}

{% block person_headline %}
    {% trans "Person detail" %} 
{% endblock %}

{% block person_scripts %}
<script src="{% static 'publications/js/class/my-reports-class.js' %}" defer></script>
<script src="{% static 'publications/js/person.js' %}" defer></script>
{% endblock %}

{% block workflow_content %}
<div class="main-form-section">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-4">Person Information</h4>
            <table class="table table-borderless">
                <tr><th class="bold-text">Name</th><td>{{ person }}</td></tr>
                <tr><th class="bold-text">Position</th><td>{{ person.position|default:"-" }}</td></tr>
                <tr><th class="bold-text">E-mail</th><td>{{ person.email|default:"-" }}</td></tr>
                <tr><th class="bold-text">ID</th><td>{{ person.id_number|default:"-" }}</td></tr>
            </table>
        </div>
    </div>
</div>

<!-- <div class="info-box">
    <div class="details-box">
        <div class="row">
            <span class="property">Name</span>
            <span class="value">{{person.first}} {{person.last}}</span>
        </div>
        <div class="row">
            <span class="property">Position</span>
            <span class="value">{{person.position}}</span>
        </div>
        {% if person.email %}
        <div class="row">
            <span class="property">E-mail</span>
            <span class="value">{{person.email}}</span>
        </div>
        {% endif %}
        {% if person.id_number %}
        <div class="row">
            <span class="property">ID</span>
            <span class="value">{{person.id_number}}</span>
        </div>
        {% endif %}
    </div>
</div> -->

</br>

<div id="authorships">
    <div class="total-authorships">Publication list for {{ person }} (<div id="total-authorship-number">xxx</div>)</div>
    </br>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>pdf</th>
                    <th>Type</th>
                    <th>Features</th>
                </tr>
            </thead>
            <tbody id="authorship-table-list">

            </tbody>
        </table>

        <div id="loading-overlay-authorships">
            <div id="loading-icon"></div>
        </div>
    </div>
</div>

</br>
</br>

<div id="supervisorships">
    <div class="total-supervisorships">{{ person }} has supervised the following publications (<div id="total-supervisorship-number">xxx</div>)</div>
    </br>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>pdf</th>
                    <th>Type</th>
                    <th>Features</th>
                </tr>
            </thead>
            <tbody id="supervisorship-table-list">

            </tbody>
        </table>

        <div id="loading-overlay-supervisorships">
            <div id="loading-icon"></div>
        </div>
    </div>
</div>


{% endblock %}