{% extends 'publications/person_workflow_base.html' %}

{% load i18n static %}

{% block person_title %}{% trans "Person List" %}{% endblock %}

{% block dynamic_head_content %}
{{ block.super }}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'publications/css/persons.css' %}" />
{% endblock %}

{% block person_headline %}{% trans "List of Persons" %}{% endblock %}

{% block workflow_content %}


<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody id="persons-table-list">
            <!-- 
            <tr><td>Victor</td></tr>
            <tr><td>Alex/td></tr>
             -->
        </tbody>
    </table>

    <div id="loading-overlay">
        <div id="loading-icon"></div>
    </div>
</div>

<script src="{% static 'publications/js/persons.js' %}" defer></script>

{% endblock %}
