{% extends base_template %}

<!-- i18n and static are Django template tags. They are used to load the i18n and static template tags. The i18n template tag is used to mark strings for translation. -->
<!-- The static is a template tag that is used to load the static template tag library. This library provides a way to reference static files, such as CSS, JavaScript, or image files, which are not tied to a particular instance of a model in your Django app. -->
{% load i18n static %}

{# title #}
{% block title %}Report{% endblock %}


{% block dynamic_head_content %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'publications/css/report.css' %}" />
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.9.2/proj4.js" defer></script>
    <script src="{% static 'publications/js/proj4leaflet.js' %}" defer></script>
    
    <script src="https://unpkg.com/leaflet-rotate@0.2.8/dist/leaflet-rotate-src.js" defer></script>
    
    <script src="{% static 'publications/js/class/my-reports-class.js' %}" defer></script>
    <script src="{% static 'publications/js/class/my-map-class.js' %}" defer></script>
    <script src="{% static 'publications/js/report.js' %}" defer></script>
{% endblock %}


<!-- headline for the page -->
{% block headline %}Report{% endblock %}


{% block main-content %}

<div class="info-box">

    <div class="details-box">
        <div class="row">
            <span class="property">Title</span>
            <span class="value">{{publication.title}}</span>
        </div>
    
        <div class="row">
            <span class="property">Authors</span>
            <span class="value">
                {% for author in publication.authors.all %}

                    <a href="#">{{ author.first }} {{ author.last }}</a>

                    {% if forloop.counter == 1 and publication.authors.count == 2 %}

                        &amp;

                    {% elif not forloop.last %}

                        ,

                    {% endif %}

                {% endfor %}
            </span>
        </div>
    
        <div class="row">
            <span class="property">Year</span>
            <span class="value">{{publication.year}}</span>
        </div>
    
        <div class="row">
            <span class="property">Report no.</span>
            <span class="value">{{publication.number}}</span>
        </div>
    
        <div class="row">
            <span class="property">Topics</span>
            <span class="value">
                {% for topic in publication.publication_topics.all %}
                    {{ topic.topic }}
                    {% if forloop.counter == 1 and publication.publication_topics.count == 2 %}
                        &amp;
                    {% elif not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
                <!-- Infrastruktur, Geoteknik -->
            </span>
        </div>
    
        <div class="row">
            <span class="property">Keywords</span>
            <span class="value">
                {% for keyword in publication.publication_keywords.all %}
                    {{ keyword.keyword }}
                    {% if forloop.counter == 1 and publication.publication_keywords.count == 2 %}
                        &amp;
                    {% elif not forloop.last %}
                        ,
                    {% endif %}
            {% endfor %}
                <!-- Havn, Kangaamiut -->
            
            </span>
        </div>
    
        <div class="row">
            <span class="property">pdf-file</span>
            <span class="value pdf-file"><a href="{{MEDIA_URL}}reports/{{publication.year}}/{{publication.number}}.pdf" target="_blank">download report as pdf (21.0 Mb)</a></span>
        </div>
    
        <div class="row">
            <span class="property">Supervisors</span>
            <span class="value"><a>Ingeman-Nielsen, T.</a></span>
        </div>
    
        <div class="row">
            <span class="property">Abstract</span>
            <span class="visible" id="abstract-collapsed">{{publication.abstract | slice:":280"}}.... <p id="abstract-expand-btn" class="abstract-btn" >[Expand]</p></span>
            <span class="hidden" id="abstract-expanded">{{publication.abstract}} <p id="abstract-collapse-btn" class="abstract-btn" >[Collapse]</p></span>
        </div>
    </div>

    <div class="preview-box">
         <img src="{{MEDIA_URL}}reports/{{publication.year}}/thumbs/{{publication.number}}_thumb.jpg" alt="preview-picture">
    </div>



</div>

<div class="appendix-box">
    <h1>{% trans "Appendices:" %}</h1>
    
    {% for appendix in publication.appendices.all %}
        <a href="{{appendix.file.url}}" download="{{appendix.file.url}}">{{appendix.filename}}</a>
    {% endfor %}

</div>

<div class="feature-box">
    <div class="map-box">

        <div class="map-box-inner" id="map"></div>

        <div class="color-guide-box">
            <div class="color-guide-box-inner">
                <div class="color-guide-box-inner-presentation" style="background-color:blue"></div>
                <p>GEOPHYSICAL-DATA</p>
            </div>
            <div class="color-guide-box-inner">
                <div class="color-guide-box-inner-presentation" style="background-color:purple"></div>
                <p>FIELD-MEASUREMENT</p>
            </div>
            <div class="color-guide-box-inner">
                <div class="color-guide-box-inner-presentation" style="background-color:brown"></div>
                <p>RESOURCE</p>
            </div>
            <div class="color-guide-box-inner">
                <div class="color-guide-box-inner-presentation" style="background-color:red"></div>
                <p>PHOTO</p>
            </div>
            <div class="color-guide-box-inner">
                <div class="color-guide-box-inner-presentation" style="background-color:green"></div>
                <p>SAMPLE</p>
            </div>
            <div class="color-guide-box-inner">
                <div class="color-guide-box-inner-presentation" style="background-color:white"></div>
                <p>OTHER</p>
            </div>
            <div class="color-guide-box-inner">
                <div class="color-guide-box-inner-presentation" style="background-color:yellow"></div>
                <p>BOREHOLE</p>
            </div>
            <div class="color-guide-box-inner">
                <div class="color-guide-box-inner-presentation" style="background-color:pink"></div>
                <p>LAB MEASUREMENT</p>
            </div>
        </div>

    </div>
    <div class="feature-table-box">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for feature in associated_features %}
                    <tr>
                        <td>{{feature.id}}</td>
                        <td><a href="/publications/feature/{{feature.id}}/">{{feature.name}}</a></td>
                        <td>{{feature.type}}</td>
                        <td>{{feature.date}}</td>
                        <td>{{feature.description}}</td>
                    </tr>
                {% endfor %}
        </table>
    </div>
</div>



{% endblock %}