<!-- templates/publication_form.html -->

{% extends base_template %}
{% load i18n static %}

{% block title %}
    {% trans "Create Publication" %}
{% endblock %}

{% block dynamic_head_content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" 
        crossorigin="anonymous"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->
    {{ form.media }}
{% endblock %}

{% block headline %}
    {% trans "Create Publication" %}
{% endblock %}

{% block main-content %}

<form  enctype="multipart/form-data" method="post" id="add-report-form">{% csrf_token %}
    <div id="data_container"></div>
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
</form>
  
{% endblock %}