.report-title {
	font-weight: bold;
}

div.author-list {
    color:           black;
    text-decoration: none;
}

div.author-list a:link,a:visited {
    text-decoration: None;
    color: inherit;
}


div.author-list a:hover {
    text-decoration: None;
    color: grey;
}


#info-box, #map-box, #appendix-box {
    display: block;
    max-width: 1000px;
    background-color: #ffffff;  /* #fbfbfb; */
    border: 1px solid #AAA;
    border-bottom: 1px solid #888;
    border-radius: 3px;
    color: black;

    -moz-box-shadow: 0px 1px 1px #AAA;
    -webkit-box-shadow: 0px 1px 1px #AAA;
    box-shadow: 0px 1px 1px #AAA;

/*    box-shadow: 0px 1px 1px #AAA; */
    margin: 10px 20px 20px;
}

#info-content, #map-content, #appendix-content {
    display: block;
    margin: 20px 20px 20px 25px;
}

#label-column {
    white-space: nowrap;
    /* font-weight: bold; */
    vertical-align: top;
}

#abstract-collapsed {
    display: inline;
}

#abstract-expanded {
    display: none;
}

#report-thumb {
    border: 1px solid #AAA;
    border-bottom: 1px solid #888;
/*    -moz-box-shadow: 0px 1px 1px #AAA;
    -webkit-box-shadow: 0px 1px 1px #AAA;
    box-shadow: 0px 1px 1px #AAA;  */
    vertical-align:top;
}


#map-viewport {
    border: 1px solid #AAA;
    border-bottom: 1px solid #888;
    -moz-box-shadow: 0px 1px 1px #AAA;
    -webkit-box-shadow: 0px 1px 1px #AAA;
    box-shadow: 0px 1px 1px #AAA;
}