:root {
    --primary-font-family: Verdana, Geneva, sans-serif;
    --primary-color: black;
    --primary-bacground-color: #B0C4DE;
    --message-border-width: 1px;
    --primary-site-width: 80%;

}

body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font-family);
    font-size: 0.6em;
    color: var(--primary-color);
}

body a:link, body a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

body a:hover {
    color: grey;
}

input[type=text] {
    margin: 5px 0;
    display: block;
    padding: 4px;
    border: solid 1px grey;
}

a {
    color: #000000;
    text-decoration: none;
}

header {
    background: var(--primary-bacground-color);
    width: auto;
}

.header-content {
    width: var(--primary-site-width);
    display: flex;
    padding: 0.5em;
    margin: 0;
    border: none;
    font-size: 0.9em;
    font-weight: bold;
    justify-content: space-between;
    margin: 0 auto; /* Add this to center the header-content horizontally */
}

main {
    width: var(--primary-site-width);
    margin: 0 auto; /* Add this to center the main content horizontally */
}

ul.messages, table.messages {
    border: var(--message-border-width) solid #C8DCC2;
    margin: 0;
    padding: 0;
}

ul.messages li, table.messages tr {
    padding: 0.5em;
    margin: 1px;
    list-style: none;
}

ul.messages li.debug, table.messages tr.debug,
ul.messages li.info, table.messages tr.info {
    background: #FFFFCC;
    color: #666666;
    border: var(--message-border-width) solid #666666;
}

ul.messages li.success, table.messages tr.success {
    background: #EEFAEA;
    color: #008000;
    border: var(--message-border-width) solid #008000;
}

ul.messages li.warning, table.messages tr.warning {
    background: #FFE6CD;
    color: #FF7000;
    border: var(--message-border-width) solid #FF7000;
}

ul.messages li.error, table.messages tr.error {
    background: #FFEBEB;
    color: #CA2020;
    border: var(--message-border-width) solid #CA2020;
}

table.entity-list tr:hover {
    background-color: #EAEFF6;
}

.button {
    padding: 5px 10px;
    display: inline;
    background: #777 url(/static/images/button.png) repeat-x bottom;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: 1px 1px #666;
}

.button:hover {
    background-position: 0 -48px;
}

.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
}
