@font-face {
    font-family: 'Roboto'; /* Replace with your preferred font name */
    src: url('/static/publications/font/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('/static/publications/font/Mona_Sans/Mona-Sans.ttf') format('truetype');

    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

:root {
    --primary-font-family:  "Mona Sans", "Roboto", Verdana, Geneva, sans-serif;
    --primary-color: black;
    --primary-background-color: #B0C4DE;
    --message-border-width: 1px;
    --primary-site-width: 80%;
    --dtu-color-corporate-red: #900;


    /* header variables starts here */
    --header-height: 64px;
    /* header variables ends here */


    /* footer variables starts here */
    --footer-height: 64px;
    /* footer variables ends here */
}




/* General styling starts here */
/* Define a base class for flex containers */
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1rem; */
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}


/* General styling ends here */



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    height: 100vh;
    width: 100%;
    
}

body a:link, body a:visited {
    text-decoration: none;
    color: var(--primary-color);
}

body a:hover {
    color: grey;
    cursor: pointer;
}








#loading-overlay {
    position: absolute; /* Position it absolutely within the relative container */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    display: flex; /* To center the loading icon and text */
    align-items: center;
    justify-content: center;
    z-index: 2000; /* To make sure it appears above the other content, including Leaflet's components */
  }



  #loading-icon {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid var(--primary-background-color); /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




/* header styling starts here  */

header {
    background: var(--primary-background-color);
    width: auto;
    height: var(--header-height);
    overflow: auto;
}

.default-header-content {
    width: var(--primary-site-width);
    font-family: var(--primary-font-family), sans-serif; /* The second font is a fallback in case the custom font fails to load */
    font-size: 16px;
}



header .nav-right span {
    margin-left: 10px;
}


.nav-left {
    width : 200px;
}

header .header-content .nav-left .nav-link, .nav-right .nav-link {
    margin: 0 10px; /* Adjust the value as needed */
}

.nav-mobile {
    display: none;
}

/* @media (max-width: 768px) {


    .default-header-content {
        display: none;
    }


    .mobile-header-content {
        width: 90%;
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    .nav-mobile {

        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;

    }
    
    .sign-up {
        border: 1px solid #900;
        border-radius: 10px;
        padding: 8px;
    }



    .nav-right {
        width: 200px;
    }



} */



/* header styling ends here  */








main {
    width: var(--primary-site-width);
    margin: 0 auto; /* Add this to center the main content horizontally */
    flex-grow: 1;
    overflow: auto;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

footer {
    overflow: auto;
    width: auto;
    height: auto;
    min-height: var(--footer-height);
    background: var(--primary-background-color);
    /* Your footer styles here */
}



/* 
input[type=text] {
    margin: 5px 0;
    display: block;
    padding: 4px;
    border: solid 1px grey;
}

a {
    color: #000000;
    text-decoration: none;
}




.flex-space-between {
    display: flex;
    justify-content: space-between;
}



ul.messages, table.messages {
    border: var(--message-border-width) solid #C8DCC2;
    margin: 0;
    padding: 0;
}

ul.messages li, table.messages tr {
    padding: 0.5em;
    margin: 1px;
    list-style: none;
}

ul.messages li.debug, table.messages tr.debug,
ul.messages li.info, table.messages tr.info {
    background: #FFFFCC;
    color: #666666;
    border: var(--message-border-width) solid #666666;
}

ul.messages li.success, table.messages tr.success {
    background: #EEFAEA;
    color: #008000;
    border: var(--message-border-width) solid #008000;
}

ul.messages li.warning, table.messages tr.warning {
    background: #FFE6CD;
    color: #FF7000;
    border: var(--message-border-width) solid #FF7000;
}

ul.messages li.error, table.messages tr.error {
    background: #FFEBEB;
    color: #CA2020;
    border: var(--message-border-width) solid #CA2020;
}

table.entity-list tr:hover {
    background-color: #EAEFF6;
}

.button {
    padding: 5px 10px;
    display: inline;
    background: #777 url(/static/images/button.png) repeat-x bottom;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: 1px 1px #666;
}

.button:hover {
    background-position: 0 -48px;
}

.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
}
 */

