

/* .link-button:focus {
    outline: none;
} */

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    gap: 40px;
    justify-content: center;
}


.fmitem {
    box-sizing: content-box;
    width: 190px;
    height: auto; /* adjust as needed */
}

.fmitem form {
    width: fit-content;
}

.link-button {
    height: 100%; /* makes the button take full height of .fmitem */
    width: 100%; /* makes the button take full width of .fmitem */
    color: black;
    cursor: pointer;
    padding: 0; /* removes any default button padding */
}

.fmimage {
    height: 150px;
    width: 190px;
}

.fmitem img {
    height: 150px;
    width: 190px;
    object-fit: cover;
}

.fmitem span {
    display: inline-block;
    text-align: left;
    padding: 0px;
}

.topic {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
}

.text {
    /* font-size: small; */
    /* text-align: center; */
    /* padding: 0.5em; */
    /* overflow: hidden; */
    /* white-space: nowrap; */
}

/* .fmtext {
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
} */

/* 

/* .fmitem .topic {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
}

.fmitem .text {
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
} */