.hidden {
    display: none;
  }

.visible {
    display: block;
  }

main > * {
    margin-top: 20px;
    margin-bottom: 20px;
}



.details-box .row {
    display: flex;
    margin-top: 10px;
}

.info-box {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: grid;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;

}

.details-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 412px;
}

.preview-box {
   width: 20%;
}

.details-box .property {
    width: 150px; /* Adjust this value to get the desired distance */
    flex-shrink: 0;
    text-align: left;
}


spand > p {
    margin: 0;
    
}



.pdf-file {
    /* make underline on text */
    text-decoration: underline;

}

.appendix-box {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 100px;
}

.map-box {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 412px;
}



.abstract-btn {
    display: inline;
    text-decoration: underline;
}

.abstract-btn:hover {
    color: grey;
    cursor: pointer;
}