.report-title {
	font-weight: bold;
}

div.author-list {
    color:           black;
    text-decoration: none;
}

div.author-list a:link,a:visited {
    text-decoration: None;
    color: inherit;
}


div.author-list a:hover {
    text-decoration: None;
    color: grey;
}

