

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    gap: 40px;
    justify-content: center;
}


/* grid box */
.fmitem {
    /* border-radius: 10px; */
    width: auto;
    height: auto; 
    /* overflow: hidden;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;  */
}


  
/* .fmitem:hover {
    
    transition: background-color 0.1s ease;   
} */

  


/* .fmitem form input {
    display: none;
} */

.fmitem form button {
    width: 280px;
    height: 230px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Added to allow button to fill available space */
    align-items: center; /* Aligns content in the center horizontally */
    justify-content: center; /* Aligns content in the center vertically */
    padding: 20px;
    border: none;
}


.fmitem form button:hover {
    background-color: #f1f1f1;
    transition: background-color 0.1s ease;
}

/* .fmitem form button .fmimage { */
    /* flex-grow: 0;  */
/*  */
/* } */

.fmitem form button .fmimage img {
    width: 190px; /* Make image fill the available width */
    height: 150px; /* Adjust height automatically */
    object-fit: cover;
    object-position: bottom;
    
}

/* .fmitem form button .fmtext {
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.fmitem form button .fmtext span {
    display: inline-block;
    text-align: left;
    padding: 0px;
}

.fmitem form button .fmtext .topic {
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
} */


/* Media query for smaller screens */
@media (max-width: 768px) { /* Adjust this value based on your needs */
    .grid-container {
        grid-auto-flow: row;
    }
}
