.table-container {
    position: relative;
    min-height: 50vh;
    width: 100%;
}

thead {
    background-color: var(--primary-background-color);
    color: black;
}

tr {
    border: 1px solid;

}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    font-size: small; 
    /* font-weight: lighter; */
}

table > * {
    font-size: small;
}

th {
    padding-left: 5px;
}

td {
    padding-left: 5px;
}

tr:hover {
    background-color: #EAEFF6;
}

.report-title a:link {
    font-weight: bold;
    font-size: small; 
}

.report-authors a:link {
    font-size: x-small ;
    color: grey;
    text-decoration: none 
}

.report-authors a:hover {
    color: rgb(80, 79, 79);;
    cursor: pointer;
    text-decoration: underline;
}

img:hover {
    cursor: pointer;
}

.no-wrap {
    white-space: nowrap;  /* Prevent text from wrapping */
    word-break: keep-all;  /* Prevent wrapping at hyphens */
}