unidecode
django==4.2
django-extensions
django-cas-ng
djangorestframework==3.14.0
django-taggit
django-select2
Pillow
psycopg
python-dotenv
drf-yasg
mysqlclient
ping3
PyPDF2
pdf2image
setuptools
werkzeug
gunicorn
pybtex
openpyxl
latexcodec
ldap3
python-dateutil